body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: white;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo h1 {
    margin: 0;
}
header .logo h2 {
    margin: 0;
    z-index: 3;
    font-family: 'Oswald', serif;
}
header .logo h1 a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 2rem;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
}

.contact-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-image {
    width: 40%;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
    height: 100%;
    margin-left: 50px;
}


a {
    color: black;
   
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
}

.name-fields {
    display: flex;
    gap: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[name="firstname"],
input[name="lastname"] {
    width: calc(50% - 0.5rem);
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-text, .contact-image {
        width: 100%;
    }

    .contact-image img {
        height: auto;
    }

    .name-fields {
        flex-direction: column;
    }

    input[name="firstname"],
    input[name="lastname"] {
        width: 100%;
    }



    .contact-image img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: contain;
        height: 100%;
        margin-left: 0px;
    }


}
